{% extends 'bajoWebBook:/layout/default' %}

{% block body %}
{% tag 'ul' %}
  {% for d in data.data %}
  {% tag 'li' %}
    {% tag 'a', href=routePath('bajoWebBook:' + d.id) %}{{ d.title }}{% endtag %}
  {% endtag %}
  {% endfor %}
{% endtag %}
{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}