{% extends 'bajoWebBook:/layout/default' %}

{% block body %}
{% cmp 'row', masonry=true %}
  {% for d in data.data %}
    {% cmp 'column', columns=['small:6', 'large:4'], margin='bottom4' %}
      {% cmp 'card' %}
        {% cmp 'cardImage', src='holder.js/200x100?auto=yes' %}{% endcmp %}
        {% cmp 'cardBody' %}
          {% cmp 'cardTitle' %}{{ d.title }}{% endcmp %}
          {% cmp 'cardText' %}{{ d.description }}{% endcmp %}
          {% cmp 'cardLink', href=routePath('bajoWebBook:' + d.id) %}{{ 'Go'|t }}{% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
  {% endfor %}
{% endcmp %}
{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}