{% extends 'bajoWebBook:/layout/default' %}
{% from 'bajoWebBook:/macro/cover' import cover with context %}

{% block body %}
{% cmp 'navbar', margin='bottom3' %}
  {% cmp 'form', display='flex', role='search' %}
    {% cmp 'input', name='query', margin='end2', type='search', placeholder='Search'|t, ariaLabel='Search', value=_meta.reqQuery.query %}{% endcmp %}
  {% endcmp %}
  {% cmp 'viewTypeButtons', list=list %}{% endcmp %}
{% endcmp %}
{% if list === 'bullet' %}
  {% for book in data %}
    {% cmp 'row', position='relative' %}
      {% cmp 'col', columns=['small:4', 'large:3'], margin='bottom4' %}
        {% cmp 'img', rounded=true, fluid=true, src=routePath('bajoWebBook:' + book.id) + '/' + book.meta.coverImage %}{% endcmp %}
      {% endcmp %}
      {% cmp 'col', columns=['small:8', 'large:9'], margin='bottom4' %}
        {% cmp 'h3' %}{{ book.title|t }}{% endcmp %}
        {% cmp 'p' %}{{ book.description|t }}{% endcmp %}
        {% cmp 'a', href=routePath('bajoWebBook:' + book.id), stretchedLink=true %}{{ 'Read'|t }}{% endcmp %}
      {% endcmp %}
    {% endcmp %}
  {% endfor %}
{% else %}
  {% cmp 'row', class='masonry' %}
    {% for book in data %}
      {% if list === 'gridsmall' %}
        {% cmp 'col', columns=['small:4', 'large:3'], margin='bottom4' %}
          {{ cover(book, true) }}
        {% endcmp %}
      {% else %}
        {% cmp 'col', columns=['small:6', 'large:4'], margin='bottom4' %}
          {{ cover(book, true) }}
        {% endcmp %}
      {% endif %}
    {% endfor %}
  {% endcmp %}
{% endif %}

{% cmp 'pagination', options=params, display='flex', justifyContent='center', margin='top5' %}{% endcmp %}

{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}