{% extends 'bajoBook:/layout/default' %}

{% block body %}
{% cmp 'breadcrumb', options=breadcrumb %}{% endcmp %}
{% cmp 'hr' %}{% endcmp %}
{% cmp 'h6', margin='bottom4', displayHeading=6 %}
  {{ page.level }}
  {{ page.title|t }}
{% endcmp %}
{{ content|safe }}

{% cmp 'row', margin='top5' %}
  <!-- children -->
  {% cmp 'col', columns='small:6', margin='bottom3' %}
    {% cmp 'card' %}
      {% cmp 'cardHeader' %}{{ 'Pages & Sections'|t }}{% endcmp %}
      {% cmp 'listGroup', options=pages, flush=true %}{% endcmp %}
    {% endcmp %}
  {% endcmp %}
  <!-- reference, if any -->
  {% if ref %}
    {% cmp 'col', columns='small:6' %}
      {% cmp 'card' %}
        {% cmp 'cardHeader' %}{{ 'Reference'|t }}{% endcmp %}
        {% cmp 'listGroup', options=ref, flush=true %}{% endcmp %}
      {% endcmp %}
    {% endcmp %}
  {% endif %}
{% endcmp %}

{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}