{% extends 'bajoWebBook:/layout/default' %}
{% from 'bajoWebBook:/macro/cover' import cover with context %}

{% block body %}
{% cmp 'div', display='flex', justifyContent='between', margin='bottom4' %}
  {% cmp 'h6', displayHeading=6 %}{{ 'Table of Contents'|t }}{% endcmp %}
  {% cmp 'div', display='flex', alignItems='center' %}
    {% cmp 'buttonGroup', outline=true, radio=true, options=[
      { href: '?list=flat', icon: 'list', active: list === 'flat' },
      { href: '?list=nested', icon: 'listNested', active: list === 'nested'  }
    ] %}{% endcmp %}
  {% endcmp %}
{% endcmp %}
{% cmp 'row' %}
  {% cmp 'col', columns=['small:12', 'medium:8'] %}
    {% if list === 'nested' %}
      {% cmp 'tree', tag='ul', options=tree, lineHeight='large' %}{% endcmp %}
    {% else %}
      {% cmp 'div', lineHeight='large' %}
        {% for p in pages %}
          {% cmp 'row' %}
            {% if p.level|split('.')|length === 1 %}
              {% cmp 'col', columns=[':auto', 'medium:1'] %}
                {% cmp 'h5', margin='y3' %}
                  {{ p.level }}
                {% endcmp %}
              {% endcmp %}
              {% cmp 'col', columns=[':auto', 'medium:11'] %}
                {% cmp 'h5', margin='y3' %}
                  {% cmp 'a', href=p.href %}
                    {{ p.title|t }}
                  {% endcmp %}
                {% endcmp %}
              {% endcmp %}
            {% else %}
              {% cmp 'col', columns=[':auto', 'medium:1'] %}
                {{ p.level }}
              {% endcmp %}
              {% cmp 'col', columns=[':auto', 'medium:11'] %}
                {% cmp 'a', href=p.href %}
                  {{ p.title|t }}
                {% endcmp %}
              {% endcmp %}
            {% endif %}
          {% endcmp %}
        {% endfor %}
      {% endcmp %}
    {% endif %}
  {% endcmp %}
  {% cmp 'col', columns=['small:12', 'medium:4'] %}
    {{ cover(book) }}
  {% endcmp %}
{% endcmp %}
{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}
