{% macro cover(book, link, full) %}
{% cmp 'card', shadow=true %}
  {% if not book.meta.coverImage|isEmpty %}
    {% cmp 'cardImage', src=routePath('bajoBook:' + book.id) + '/' + book.meta.coverImage %}{% endcmp %}
    {% if full and not book.meta.coverImageAttr|isEmpty %}
      {% cmp 'div', display='flex', justifyContent='end', style='margin-top:-30px;padding-right:10px' %}
        {% cmp 'div', font='size6,weightLight' %}{{ book.meta.coverImageAttr|safe }}{% endcmp %}
      {% endcmp %}
    {% endif %}
  {% endif %}
  {% cmp 'cardBody' %}
    {% cmp 'cardTitle' %}{{ book.title|t }}{% endcmp %}
    {% if not book.subTitle|isEmpty %}
      {% cmp 'cardSubtitle' %}{{ book.subTitle|t }}{% endcmp %}
    {% endif %}
    {% cmp 'cardText' %}{{ book.description|t }}{% endcmp %}
    {% if link %}
      {% cmp 'cardLink', href=routePath('bajoBook:' + book.id), stretchedLink=true %}{{ 'Read'|t }}{% endcmp %}
    {% endif %}
    {% if full %}
      {% cmp 'div', display='flex', justifyContent='between' %}
        {% if not book.author|isEmpty %}
          {% cmp 'small', text='bodySecondary' %}
            {{ 'By'|t }}: {{ book.author|mailto }}
          {% endcmp %}
        {% endif %}
        {% if not book.meta.externalLink|isEmpty %}
          {% cmp 'small', text='bodySecondary' %}
            {% for k, v in book.meta.externalLink %}
              {% cmp 'a', href=v %}{{ k }}{% endcmp %}
            {% endfor %}
          {% endcmp %}
        {% endif %}
      {% endcmp %}
    {% endif %}
  {% endcmp %}
{% endcmp %}
{% endmacro %}