{% extends 'bajoWebMpaBootstrap:/layout/default' %}

{% block body %}
{% tag 'ol' %}
  {% for f in folders %}
    {% tag 'li' %}
      {{ f.folder }}
    {% endtag %}
  {% endfor %}
{% endtag %}
{% endblock %}