{% extends 'bajoWebMpaBootstrap:/layout/default' %}

{% block body %}
{% tag 'breadcrumb', options=breadcrumb %}{% endtag %}
{% tag 'ul' %}
  {% for page in pages %}
  {% tag 'li' %}
    {% if page.active %}
    {{ page.title }}
    {% else %}
    {% tag 'a', href=page.href %}{{ page.title }}{% endtag %}
    {% endif %}
  {% endtag %}
  {% endfor %}
{% endtag %}

{{ content|safe }}
{% endblock %}